{% extends 'index.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <form method="POST" action="{% url 'check_mate:claim' %}">
      {% csrf_token %}
      <button type="submit" value="claim">Claim</button>
      <h4>Your assigned items</h4>
      {% if assigned_tickets %}
        <h6>Tickets</h6>
        {% for ticket in assigned_tickets %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <input type="checkbox" name="ticket-{{ticket.id}}"/><h5 class="card-title">{{ticket.ticket_name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ticket.ticket_description}}</h6>
              <div class="card-text">
                  {% if ticket.get_due_date_status == "This ticket is past due" %}
                    <div class="alert alert-danger" role="alert">
                      {{ticket.get_due_date_status}}
                    </div>
                  {% elif ticket.get_due_date_status == "This ticket is due today" %}
                    <div class="alert alert-warning" role="alert">
                      {{ticket.get_due_date_status}}
                    </div>
                  {% endif %}
                </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if assigned_tasks %}
        <h6>Tasks</h6>
        {% for task in assigned_tasks %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <input type="checkbox" name="task-{{task.id}}"><h5 class="card-title">{{task.task_name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{task.task_description}}</h6>
                <div class="card-text">
                  {% if task.get_due_date_status == "This task is past due" %}
                    <div class="alert alert-danger" role="alert">
                      {{task.get_due_date_status}}
                    </div>
                  {% elif task.get_due_date_status == "This task is due today" %}
                    <div class="alert alert-warning" role="alert">
                      {{task.get_due_date_status}}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col">
      <h4>Past Due Items</h4>
      {% if past_due_tickets %}
        <h6>Tickets</h6>
        {% for ticket in past_due_tickets %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <input type="checkbox" name="ticket-{{ticket.id}}"><h5 class="card-title">{{ticket.ticket_name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ticket.ticket_description}}</h6>
              <div class="card-text">
                {% if ticket.get_due_date_status == "This ticket is past due" %}
                  <div class="alert alert-danger" role="alert">
                    {{ticket.get_due_date_status}}
                  </div>
                {% elif ticket.get_due_date_status == "This ticket is due today" %}
                  <div class="alert alert-warning" role="alert">
                    {{ticket.get_due_date_status}}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      {% if past_due_tasks %}
        <h6>Tasks</h6>
        {% for task in past_due_tasks %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <input type="checkbox" name="task-{{task.id}}"> <h5 class="card-title">{{task.task_name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{task.task_description}}</h6>
              <div class="card-text">
                {% if task.get_due_date_status == "This task is past due" %}
                  <div class="alert alert-danger" role="alert">
                    {{task.get_due_date_status}}
                  </div>
                {% elif task.get_due_date_status == "This task is due today" %}
                  <div class="alert alert-warning" role="alert">
                    {{task.get_due_date_status}}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col">
      <h4>Ready for Review</h4>
      {% if review_tickets %}
        <h6>Tickets</h6>
        {% for ticket in review_tickets %}
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <input type="checkbox" name="ticket-{{ticket.id}}"><h5 class="card-title">{{ticket.ticket_name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ticket.ticket_description}}</h6>
              <div class="card-text">
                {% if ticket.get_due_date_status == "This ticket is past due" %}
                  <div class="alert alert-danger" role="alert">
                    {{ticket.get_due_date_status}}
                  </div>
                {% elif ticket.get_due_date_status == "This ticket is due today" %}
                  <div class="alert alert-warning" role="alert">
                    {{ticket.get_due_date_status}}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      {% if review_tasks %}
        <h6>Tasks</h6>
        {% for task in review_tasks %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <input type="checkbox" name="task-{{task.id}}"> <h5 class="card-title">{{task.task_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{task.task_description}}</h6>
            <div class="card-text">
              {% if task.get_due_date_status == "This task is past due" %}
                <div class="alert alert-danger" role="alert">
                  {{task.get_due_date_status}}
                </div>
              {% elif task.get_due_date_status == "This task is due today" %}
                <div class="alert alert-warning" role="alert">
                  {{task.get_due_date_status}}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
    </form>
  </div>
</div>

{% endblock content %}