{% extends 'index.html' %}

{% load task_card %}
{% load ticket_card %}

{% block content %}
<div class="container">
  <div class="row">
    <form method="POST" action="{% url 'check_mate:remove-claim' %}">
      {% csrf_token%}
      <div class="d-flex justify-content-center">
        <h4>Edit Claimed Tasks and Tickets for Today</h4>
        <button class="mx-2" type="submit" value="Save Changes">Save Changes</button>
      </div>
  </div>
  <div class="row">
    <div class="col flex-column text-center space-around">
      <h6>Your Claimed Tickets</h6>
    </div>
    <div class="col flex-column text-center space-around">
      <h6>Your Claimed Tasks</h6>
    </div>
  </div>

  <div class="row">
    <div class="col border shadow-sm">
      {% if claimed_tickets %}
        {% for ticket in claimed_tickets %}
          {% ticket_card ticket.ticket_id True %}
        {% endfor %}
      {% else %}
      {% endif %}

    </div>
    <div class="col border shadow-sm">
      {% if claimed_tasks %}
        {% for task in claimed_tasks %}
          {% task_card task.task_id True %}
        {% endfor %}
      {% else %}
      {% endif %}
    </div>
  </div>

</form>
</div>
{% endblock %}