{% extends 'index.html' %}

{% load task_card %}
{% load ticket_card %}

{% block content %}
  <form method="POST" action="{% url 'check_mate:remove-claim' %}">
    {% csrf_token%}
    <!-- Header Section -->
    <div class="row">
      <div class="col">
        <h2>Edit Claimed Tasks and Tickets for Today</h2>
      </div>
      <div class="col text-right">
        <button class="mx-2 btn btn-info" type="submit" value="Save Changes">Save Changes</button>
      </div>
    </div>
    <!-- End Header Section -->
    <!-- Ticket Display Section -->
    <div class="row mt-3">
      <!-- Claimed Tickets Section -->
      <div class="col">
        <div class="row bg-info pt-3">
          <div class="col text-white flex-column text-center">
            <h6>Your Claimed Tickets</h6>
          </div>
        </div>
        <div class="row">
          <div class="col border shadow-sm pt-2 ticket-container">
            {% if claimed_tickets %}
              {% for ticket in claimed_tickets %}
                {% ticket_card ticket.ticket_id False True %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <!-- End Claimed Tickets Section -->
      <!-- Claimed Tasks Section -->
      <div class="col">
        <div class="row bg-info pt-3">
          <div class="col text-white flex-column text-center">
            <h6>Your Claimed Tasks</h6>
          </div>
        </div>
        <div class="row">
          <div class="col border shadow-sm pt-2 ticket-container">
            {% if claimed_tasks %}
              {% for task in claimed_tasks %}
                {% task_card task.task_id False True %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <!-- End Claimed Tasks Section -->
      <!-- Your Assigned Items Tasks Section -->
      <div class="col">
          <div class="row bg-info pt-3">
            <div class="col text-white flex-column text-center">
              <h6>Your Assigned Items</h6>
            </div>
          </div>
          <div class="row">
            <div class="col border shadow-sm pt-2 ticket-container">
              {% if assigned_tickets %}
                <h6 class="text-center">Tickets</h6>
                  {% for ticket in assigned_tickets %}
                    {% ticket_card ticket.id True False %}
                  {% endfor %}
              {% endif %}
              {% if assigned_tasks %}
                <h6 class="text-center">Tasks</h6>
                  {% for task in assigned_tasks %}
                    {% task_card task.id True False%}
                  {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
        <!-- End Claimed Tasks Section -->
    </div>
    <!-- End Ticket Display Section -->
</form>
{% endblock %}

{% block js%}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock js %}