{% extends 'index.html' %}

{% block content %}

{% load crispy_forms_tags %}

{% for message in messages %}
  {% if message.tags == "error" %}
    <div class="alert-danger alert" role="alert">{{message}}</div>
  {% else %}
    <div class="alert-{{message.tags}} alert" role="alert">{{message}}</div>
  {% endif %}
{% endfor%}

  <h1>Login to Check Mate</h1>

  <form id="login_form" method="post" action="{% url 'check_mate:login' %}">
    {% csrf_token %}
    {{login_form|crispy}}
    <input type="hidden" value="{{next}}" name="next" />
    <input class="btn btn-info" type="Submit" value="Submit" />
    {% if next != "/" %}
      <a class ="btn btn-info" href="/register?next={{next}}">Register</a>
    {% endif %}
  </form>
{% endblock content %}