{% extends 'index.html' %}

{% block content %}

{% load crispy_forms_tags %}

  {% for message in messages %}
  <div class="{{messages.tags}} alert alert-danger" role="alert">{{message}}</div>
  {% endfor %}

    <h1>Login to Check Mate</h1>

    <form id="login_form" method="post" action="{% url 'check_mate:login' %}">
      {% csrf_token %}
      {{login_form|crispy}}
      <input type="hidden" value="{{next}}" name="next" />
      <input class="btn btn-primary" type="Submit" value="Submit" />
    </form>
    {% if next != "/" %}
      <a class ="btn btn-primary" href="/register?next={{next}}">Register</a>
    {% endif %}
{% endblock content %}