{% extends 'index.html' %}

{%comment%}
<!-- V2: intro hint where you explain functionality -->
{% endcomment%}

{% block navfilter %}
<!-- Filtering Section -->
<div class="row ml-3 mt-3">
  <div class="col">
    <p class="collapse-text" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Filter Results<i class="ml-3 fas fa-angle-down"></i></p>
  </div>
</div>
<div class="row ml-3 mt-3 collapse" id="collapseExample">
  <div class="col">
    <div class="row">
      <div class="col">
        <form action="{% url 'check_mate:projects_filter' %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <h6>Status</h6>
              <div class="form-group form-check">
                {% if "Not Started" in selected_status %}
                  <input type="checkbox" checked class="form-check-input" id="not_started" name="status-Not_Started">
                {% else %}
                  <input type="checkbox" class="form-check-input" id="not_started" name="status-Not_Started">
                {% endif %}
                <label class="form-check-label" for="not_started">Not Started</label>
              </div>
              <div class="form-group form-check">
                {% if "Active" in selected_status %}
                  <input type="checkbox" checked class="form-check-input" id="active" name="status-Active">
                {% else %}
                  <input type="checkbox" class="form-check-input" id="active" name="status-Active">
                {% endif %}
                <label class="form-check-label" for="active">Active</label>
              </div>
              <div class="form-group form-check">
                {% if "Complete" in selected_status %}
                  <input type="checkbox" checked class="form-check-input" id="complete" name="status-Complete">
                {% else %}
                  <input type="checkbox" class="form-check-input" id="complete" name="status-Complete">
                {% endif %}
                <label class="form-check-label" for="complete">Complete</label>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-info">Filter</button>
        <a href="{% url 'check_mate:projects' %}" class="btn btn-secondary">Clear</a>
      </div>
    </div>
  </form>
  </div>
</div>
<!-- End Filtering Section -->
{% endblock navfilter %}

{% block content %}
{% for message in messages %}
  {% if message.tags == "error" %}
    <div class="alert-danger alert" role="alert">{{message}}</div>
  {% else %}
    <div class="alert-{{message.tags}} alert" role="alert">{{message}}</div>
  {% endif %}
{% endfor%}

<div class="d-flex align-content-stretch row flex-wrap">
  <!-- Add Project Section -->
  <div class="p-3 m-2 d-flex flex-column justify-content-center project_layout border border-info text-info bd-highlight">
    <a class="text-center" href="{% url 'check_mate:project_add' %}">
      <div>
        <i class="fa fa-plus text-info text-center"></i>
        <h5 class="text-info">Add Project</h5>
      </div>
    </a>
  </div>
  <!-- End Add Project Section -->
  {% if projects %}
    {% for project in projects %}
      <!-- Project Display Section -->
      <div class="p-3 d-flex justify-content-between flex-column m-2 project_layout bg-info bd-highlight">
        <a href="{% url 'check_mate:project_details' project.id %}">
          <h5 class="text-white">{{project.project_name}}</h5>
          <p class="text-white">{{project.project_description}}</p>
        </a>
        <div class="text-right">
          {% if project.delete_status == True %}
            <a class="text-white mx-3" href="{% url 'check_mate:project_delete' project.id %}"><i class="far fa-trash-alt"></i></a>
          {% else %}
            <i class="far fa-trash-alt text-muted mx-3" data-toggle="tooltip" data-placement="top" title="You cannot delete projects with existing tickets"></i>
          {% endif %}
            <a class="text-white" href="{% url 'check_mate:project_edit' project.id %}"><i class="fas fa-pencil-alt"></i></a>
        </div>
      </div>
      <!-- End Project Display Section -->
    {% endfor %}
  {% endif %}
</div>
{% endblock content %}

{% block js%}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock js %}