{% extends "index.html" %}

{% block content %}
  <div class="row">
    <div class="col mb-4">
      <h1>Delete</h1>
    </div>
  </div>

  {% if project.delete_status == True %}
    <div class="row">
      <div class="col">
        <p>Are you sure you want to delete <strong>{{project.project_name}}</strong></p>
        <div class="my-4">
          <form action="{% url 'check_mate:project_delete' project.id %}" method="POST">
            {% csrf_token%}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'check_mate:project_details' project.id %}"><button type="button" class="btn btn-primary">No, take me back</button></a>
          </form>
        </div>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="col">
        <p>Sorry, <strong>{{project.project_name}}</strong> can't be deleted because it is active.</p>
        <div class="my-4">
          <a href="{% url 'check_mate:project_details' project.id%}"><button type="button" class="btn btn-primary">Go Back</button></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}