{% extends 'index.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <h6>{{project_detail.project_name}}</h6>
    <p>{{project_detail.project_description}}</p>
    <h6>Project Status: {{project_detail.project_status}}</h6>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: calc({{project_detail.get_ticket_status.Complete}}/{{project_detail.get_ticket_status.Total}}*100%)" aria-valuenow="{{project_detail.get_ticket_status.Complete}}" aria-valuemin="0" aria-valuemax="{{project_detail.get_ticket_status.Total}}"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: calc({{project_detail.get_ticket_status.Active}}/{{project_detail.get_ticket_status.Total}}*100%)" aria-valuenow="{{project_detail.get_ticket_status.Active}}" aria-valuemin="0" aria-valuemax="{{project_detail.get_ticket_status.Total}}"></div>
      </div>
  </div>
  <div class="col">
    <h6>Project Due: {{project_detail.project_due|date:'l, F d, Y'}}</h6>
  </div>
</div>
<form action="{% url 'check_mate:ticket_add'%}" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary btn-circle"><i class="fa fa-plus"></i>
  </button>
  <input type="hidden" name="project" value="{{project_detail.id}}"/>
  <input type="hidden" name="first_request"/>
</form>

<div class="container">
<div class="row">
  <div class="col flex-column text-center space-around">
    <h6 >Backlog</h6>
  </div>
  <div class="col flex-column text-center">
    <h6>In Process</h6>
  </div>
  <div class="col text-center flex-column">
    <h6>Review</h6>
  </div>
  <div class="col text-center flex-column">
    <h6>Complete</h6>
  </div>
</div>

<div class="row">
  <div class="col border shadow-sm">
    {% for ticket in tickets %}
      {% if ticket.ticket_status == "Not Started" %}
        <a href="{% url 'check_mate:ticket_details' ticket.id %}">
          {% if ticket.get_due_date_status == "This ticket is past due" %}
            <div class="card border-danger" style="width: 16rem;">
          {% elif ticket.get_due_date_status == "This ticket is due today" %}
            <div class="card border-warning" style="width: 16rem;">
          {% else %}
            <div class="card" style="width: 16rem;">
          {% endif %}
            <div class="card-body">
              <h5 class="card-title text-dark">{{ticket.ticket_name}}</h5>
              <p class="card-text ticket-description mb-2 text-muted">{{ticket.ticket_description}}</p>
               <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: calc({{ticket.get_task_status.Complete}}/{{ticket.get_task_status.Total}}*100%)" aria-valuenow="{{ticket.get_task_status.Complete}}" aria-valuemin="0" aria-valuemax="{{ticket.get_task_status.Total}}"></div>
                  <div class="progress-bar bg-info" role="progressbar" style="width: calc({{ticket.get_task_status.Active}}/{{ticket.get_task_status.Total}}*100%)" aria-valuenow="{{ticket.get_task_status.Active}}" aria-valuemin="0" aria-valuemax="{{ticket.get_task_status.Total}}"></div>
                </div>
            </div>
          </a>
          <div class="card-footer bg-transparent">
            {% if ticket.delete_status == True %}
              <a class="text-dark" href="{% url 'check_mate:ticket_delete' ticket.id %}"><i class="far fa-trash-alt"></i></a>
            {% endif %}
              <a class="text-dark" href="{% url 'check_mate:ticket_edit' ticket.id %}"><i class="fas fa-pencil-alt"></i></a>
            </div>
          </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col border shadow-sm">
    {% for ticket in tickets %}
      {% if ticket.ticket_status == "Active" %}
        <a href="{% url 'check_mate:ticket_details' ticket.id %}">
          {% if ticket.get_due_date_status == "This ticket is past due" %}
            <div class="card border-bottom-danger" style="width: 16rem;">
          {% elif ticket.get_due_date_status == "This ticket is due today" %}
            <div class="card border-bottom-warning" style="width: 16rem;">
          {% else %}
            <div class="card" style="width: 16rem;">
          {% endif %}
            <div class="card-body">
              <h5 class="card-title text-dark">{{ticket.ticket_name}}</h5>
              <p class="card-text text-muted ticket-description mb-2">{{ticket.ticket_description}}</p>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: calc({{ticket.get_task_status.Complete}}/{{ticket.get_task_status.Total}}*100%)" aria-valuenow="{{ticket.get_task_status.Complete}}" aria-valuemin="0" aria-valuemax="{{ticket.get_task_status.Total}}"></div>
                <div class="progress-bar bg-info" role="progressbar" style="width: calc({{ticket.get_task_status.Active}}/{{ticket.get_task_status.Total}}*100%)" aria-valuenow="{{ticket.get_task_status.Active}}" aria-valuemin="0" aria-valuemax="{{ticket.get_task_status.Total}}"></div>
              </div>
            </div>
          </a>
          <div class="card-footer bg-transparent">
            {% if ticket.delete_status == True %}
              <a class="text-dark" href="{% url 'check_mate:ticket_delete' ticket.id %}"><i class="far fa-trash-alt"></i></a>
            {% endif %}
              <a class="text-dark" href="{% url 'check_mate:ticket_edit' ticket.id %}"><i class="fas fa-pencil-alt"></i></a>
            </div>
          </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col border shadow-sm">
    {% for ticket in tickets %}
      {% if ticket.ticket_status == "Ready for Review" %}
        <a href="{% url 'check_mate:ticket_details' ticket.id %}">
          <div class="card" style="width: 16rem;">
            <div class="card-body">
              <h5 class="card-title text-dark">{{ticket.ticket_name}}</h5>
              <p class="card-text ticket-description mb-2 text-muted">{{ticket.ticket_description}}</p>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: calc({{ticket.get_task_status.Complete}}/{{ticket.get_task_status.Total}}*100%)" aria-valuenow="{{ticket.get_task_status.Complete}}" aria-valuemin="0" aria-valuemax="{{ticket.get_task_status.Total}}"></div>
                <div class="progress-bar bg-info" role="progressbar" style="width: calc({{ticket.get_task_status.Active}}/{{ticket.get_task_status.Total}}*100%)" aria-valuenow="{{ticket.get_task_status.Active}}" aria-valuemin="0" aria-valuemax="{{ticket.get_task_status.Total}}"></div>
              </div>
            </div>
          </a>
          <div class="card-footer bg-transparent">
            {% if ticket.delete_status == True %}
              <a class="text-dark" href="{% url 'check_mate:ticket_delete' ticket.id %}"><i class="far fa-trash-alt"></i></a>
            {% endif %}
              <a class="text-dark" href="{% url 'check_mate:ticket_edit' ticket.id %}"><i class="fas fa-pencil-alt"></i></a>
            </div>
          </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col border shadow-sm">
    {% for ticket in tickets %}
      {% if ticket.ticket_status == "Complete" %}
      <div class="card" style="width: 16rem;">
          <a href="{% url 'check_mate:ticket_details' ticket.id %}">
            <div class="card-body">
              <h5 class="card-title text-dark">{{ticket.ticket_name}}</h5>
              <p class="card-text mb-2 ticket-description text-muted">{{ticket.ticket_description}}</p>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: calc({{ticket.get_task_status.Complete}}/{{ticket.get_task_status.Total}}*100%)" aria-valuenow="{{ticket.get_task_status.Complete}}" aria-valuemin="0" aria-valuemax="{{ticket.get_task_status.Total}}"></div>
                <div class="progress-bar bg-info" role="progressbar" style="width: calc({{ticket.get_task_status.Active}}/{{ticket.get_task_status.Total}}*100%)" aria-valuenow="{{ticket.get_task_status.Active}}" aria-valuemin="0" aria-valuemax="{{ticket.get_task_status.Total}}"></div>
              </div>
            </div>
          </a>
          <div class="card-footer bg-transparent">
            {% if ticket.delete_status == True %}
              <a class="text-dark" href="{% url 'check_mate:ticket_delete' ticket.id %}"><i class="far fa-trash-alt"></i></a>
            {% endif %}
            <a class="text-dark" href="{% url 'check_mate:ticket_edit' ticket.id %}"><i class="fas fa-pencil-alt"></i></a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>

  </div>
</div>
{% endblock content %}