{% extends 'index.html' %}

{% block content %}
<div>
  <h6>{{project_detail.project_name}}</h6>
  <p>{{project_detail.project_description}}</p>
  <h6>Project Due: {{project_detail.project_due|date:'l, F d, Y'}}</h6>
  <h6>Project Status: {{project_detail.project_status}}</h6>
  <div class="row">
    <div class="col">Backlog
      <form action="{% url 'check_mate:ticket_add'%}" method="POST">
        {% csrf_token %}
        <input type="submit"><i class="fas fa-plus"></i></input>
        <input type="hidden" name="project" value="{{project_detail.id}}"/>
        <input type="hidden" name="first_request"/>
      </form>
    </div>
    <div class="col">In Process</div>
    <div class="col">Review</div>
    <div class="col">Complete</div>
  </div>
  <div class="row">
    <div class="col">
      {% for ticket in tickets %}
        {% if ticket.ticket_status == "Not Started" %}
          <h2>{{ticket.ticket_name}}</h2>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col">
      {% for ticket in tickets %}
        {% if ticket.ticket_status == "Active" %}
          <h2>{{ticket.ticket_name}}</h2>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col">
      {% for ticket in tickets %}
        {% if ticket.ticket_status == "Ready for Review" %}
          <h2>{{ticket.ticket_name}}</h2>
        {% endif %}
      {% endfor %}
    </div>
    <div class="col">
      {% for ticket in tickets %}
        {% if ticket.ticket_status == "Complete" %}
          <h2>{{ticket.ticket_name}}</h2>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}