{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <h1>Edit Project</h1>

  {% if error_message %}
    <p class="alert alert-danger">{{error_message}}</p>
  {% endif %}

  <form action="{% url 'check_mate:project_edit' project.id%}" method="POST">
    {% csrf_token %}
    {{ project_form|crispy}}
    <div class="form-group">
      <label for="project_due">Project Due Date</label>
      <input type="date" class="form-control" name="project_due" value="{{project.project_due | date:'Y-m-d'}}"/>
    </div>
    <input class="btn btn-primary" type="submit" value="Save Changes"/>
  </form>
{% endblock content %}