{% extends 'index.html' %}

{% block content %}
  <h1>Register with Bangazon</h1>

  <!-- Completed Registration Section -->
  {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="{% url 'check_mate:index' %}">Return to the homepage.</a><br />
  <!-- End Completed Registration Section -->
  <!-- Registration Form Section -->
  {% else %}
    <strong>Register here!</strong><br />
    <form id="user_form" method="post" action="{% url 'check_mate:register' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ user_form.as_p }}

      <input type="hidden" value="{{next}}" name="next"/>
      <input class="btn btn-info" type="submit" name="submit" value="Register" />
    </form>
  {% endif %}
  <!-- End Registration Form Section -->
{% endblock content %}