{% extends 'index.html' %}

{% load ticket_card %}
{% load task_card %}

{% comment %}
<!-- V2: put user's name in stand up -->
{% endcomment %}

{% block navfilter %}
<!-- Filtering Section -->
<div class="row ml-3 mt-3">
  <div class="col">
    <p class="collapse-text" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Filter Results<i class="ml-3 fas fa-angle-down"></i></p>
  </div>
</div>
<div class="row ml-3 mt-3 collapse" id="collapseExample">
  <div class="col">
    <div class="row">
      <div class="col">
        <form action="{% url 'check_mate:filter_stand_up' %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col">
              <h6>Projects</h6>
              {% for project in projects %}
                <div class="form-group form-check">
                  {% if project in selected_projects %}
                    <input type="checkbox" checked class="form-check-input" id="project-{{project.id}}" name="project-{{project.id}}">
                  {% else %}
                    <input type="checkbox" class="form-check-input" id="project-{{project.id}}" name="project-{{project.id}}">
                  {% endif %}
                  <label class="form-check-label" for="project-{{project.id}}">{{project.project_name}}</label>
                </div>
              {% endfor %}
            </div>
            <div class="col">
              <h6>Status</h6>
                <div class="form-group form-check">
                  {% if "Not Started" in selected_status %}
                    <input type="checkbox" checked class="form-check-input" id="status-Not_Started" name="status-Not_Started">
                  {% else %}
                    <input type="checkbox" class="form-check-input" id="status-Not_Started" name="status-Not_Started">
                  {% endif %}
                  <label class="form-check-label" for="status-Not_Started">Not Started</label>
                </div>
                <div class="form-group form-check">
                  {% if "Active" in selected_status %}
                    <input type="checkbox" checked class="form-check-input" id="status-Active" name="status-Active">
                  {% else %}
                    <input type="checkbox" class="form-check-input" id="status-Active" name="status-Active">
                  {% endif %}
                  <label class="form-check-label" for="status-Active">Active</label>
                </div>
                <div class="form-group form-check">
                  {% if "Road Block" in selected_status %}
                    <input type="checkbox" checked class="form-check-input" id="status-Road_Block" name="status-Road_Block">
                  {% else %}
                    <input type="checkbox" class="form-check-input" id="status-Road_Block" name="status-Road_Block">
                  {% endif %}
                  <label class="form-check-label" for="status-Road_Block">Road Block</label>
                </div>
                <div class="form-group form-check">
                  {% if "Complete" in selected_status %}
                    <input type="checkbox" checked class="form-check-input" id="status-Complete" name="status-Complete">
                  {% else %}
                    <input type="checkbox" class="form-check-input" id="status-Complete" name="status-Complete">
                  {% endif %}
                  <label class="form-check-label" for="status-Complete">Complete</label>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-info">Filter</button>
          <a href="{% url 'check_mate:stand-up' %}" class="btn btn-secondary">Clear</a>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- End Filtering Section -->
{% endblock navfilter%}

{% block content %}
  <div class="row">
    <div class="col">
      <h2>Stand Up</h2>
    </div>
    <div class="col text-right">
      {% if claimed_tickets or claimed_tasks %}
      <a class="btn btn-info" href="{% url 'check_mate:remove-claim' %}">Edit claimed tickets</a>
      {% else %}
      <a class="btn btn-info" href="{% url 'check_mate:claim' %}">Claim tickets for today</a>
      {% endif %}
    </div>
  </div>
  <div class="row mt-3 horizontal-container flex-nowrap">
    <div class="col-6">
      <div class="row bg-info pt-3">
        <div class="col text-white flex-column text-center">
          <h6>Yesterday</h6>
        </div>
      </div>
      <div class="row">
        <div class="col border shadow-sm pt-2 ticket-container">
          <h6 class="text-center">New Tickets</h6>
          {% if tickets %}
            {% for ticket in tickets %}
              {% ticket_card ticket.id False False %}
            {% endfor %}
          {% else %}
          <div class="card" style="width:16rem;">
            <div class="card-body">
              <div class="card-title text-dark">No New Tickets Created Yesterday</div>
            </div>
          </div>
          {% endif %}
          <h6 class="text-center pt-2">New Tasks</h6>
          {% if tasks %}
            {% for task in tasks %}
              {% task_card task.id False False %}
            {% endfor %}
          {% else %}
          <div class="card" style="width:16rem;">
            <div class="card-body">
              <div class="card-title text-dark">No New Tasks Created Yesterday</div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col border shadow-sm pt-2 ticket-container">
          <h6 class="text-center">Your Activity Yesterday</h6>
          {% if ticket_activity or task_activity %}
            {% for key, value in ticket_activity.items %}
              <div class="card" style="width:16rem;">
                <div class="card-header">
                  <div class="card-title text-dark">{{key}}</div>
                </div>
                <div class="card-body">
                  {% for ticket in value %}
                    <p class="mb-0 ticket-description">{{ticket.get_ticket_history_description}}</p>
                    <p class="ticket-description text-muted">{{ticket.activity_date | date:"l, F d, Y"}}</p>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
            {% for key, value in task_activity.items %}
            <div class="card" style="width:16rem;">
              <div class="card-header">
                <div class="card-title text-dark">{{key}}</div>
              </div>
              <div class="card-body">
                {% for task in value %}
                  <p class="mb-0 ticket-description">{{task.get_task_history_description}}</p>
                  <p class="ticket-description text-muted">{{task.activity_date | date:"l, F d, Y"}}</p>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row bg-info pt-3">
        <div class="col text-white flex-column text-center">
          <h6>Today</h6>
        </div>
      </div>
      <div class="row">
        <div class="col border shadow-sm pt-2 ticket-container">
          {% if claimed_tickets %}
          <h6 class="text-center">Tickets</h6>
            {% for ticket in claimed_tickets %}
              {% ticket_card ticket.ticket_id False False %}
            {% endfor %}
          {% endif %}
          {% if claimed_tasks%}
          <h6 class="text-center pt-2">Tasks</h6>
            {% for task in claimed_tasks %}
              {% task_card task.task_id False False %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row bg-info pt-3">
        <div class="col text-white flex-column text-center">
          <h6>Road Blocks</h6>
        </div>
      </div>
      <div class="row">
        <div class="col border shadow-sm pt-2 ticket-container">
          {% if road_blocked_tickets %}
            {% for ticket in road_blocked_tickets %}
              {% ticket_card ticket.id False False %}
            {% endfor %}
          {% endif %}
          {% if road_blocked_tasks %}
            {% for task in road_blocked_tasks %}
              {% task_card task.id False False %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js%}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock js %}