{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <h1>Edit Task</h1>

  {% if error_message %}
    <p class="alert alert-danger">{{error_message}}</p>
  {% endif %}

  <form action="{% url 'check_mate:task_edit' task.id %}" method="POST">
    {% csrf_token %}
    {{task_form|crispy}}
    {{task_status|crispy}}
    <input class="btn btn-primary" type="submit" value="Save Changes"/>
  </form>
  <a class="btn btn-success" href="{% url 'check_mate:ticket_details' ticket.id %}">Go Back</a>
{% endblock content %}