{% extends "index.html" %}

{% load task_card %}
{% load section_header %}

{% block content %}
{% for message in messages %}
  {% if message.tags == "error" %}
    <div class="alert-danger alert" role="alert">{{message}}</div>
  {% else %}
    <div class="alert-{{message.tags}} alert" role="alert">{{message}}</div>
  {% endif %}
{% endfor%}

<div class="row">
  <div class="col-9">
    <!-- Header Section -->
    {% section_header "Ticket" ticket_detail %}
    <!-- End Header Section -->
    <!-- Filtering Section -->
    <p>
      <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Filter Results
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form action="{% url 'check_mate:ticket_filter_tags' ticket_detail.id %}" method="POST">
          {% csrf_token %}
        <h6>Tags</h6>
        {% for task in all_tasks %}
          {% for tag in task.tags.all %}
            <div class="form-group form-check">
              {% if tag in selected_tags %}
                <input type="checkbox" checked class="form-check-input" id="tag-{{tag.id}}" name="tag-{{tag.id}}">
              {% else %}
                <input type="checkbox" class="form-check-input" id="tag-{{tag.id}}" name="tag-{{tag.id}}">
              {% endif %}
              <label class="form-check-label" for="tag-{{tag.id}}">{{tag.tag_name}}</label>
            </div>
          {% endfor %}
        {% endfor %}
        <button type="submit" class="btn btn-info">Filter</button>
        <a href="{% url 'check_mate:ticket_details' ticket_detail.id %}" class="btn btn-secondary">Clear</a>
        </form>
      </div>
    </div>
    <!-- End Filtering Section -->
    <div class="row">
      <div class="col">
        <!-- Related Tasks Section -->
        <div class="card mt-3">
          <div class="card-header bg-info">
            <div class="row justify-content-center">
              <h5 class="text-white">Related Tasks:</h5>
            </div>
          </div>
          <div class="card-body task-container">
          <!-- Prompt to add tasks section -->
          {% if not tasks %}
            <div class="jumbotron">
              <h6 class="display-4">No Tasks for {{ticket_detail.ticket_name}}</h6>
              <p class="lead">Add new tasks for this project</p>
              <form action="{% url 'check_mate:task_add' %}" method="POST">
                {% csrf_token %}
                <input type="submit"><i class="fas fa-plus"></i></input>
                <input type="hidden" name="ticket" value="{{ticket_detail.id}}"/>
                <input type="hidden" name="first_request"/>
              </form>
            </div>
          <!-- End Prompt to add tasks section -->
          <!-- Related Tasks Display -->
          {% else %}
            <div class="card-columns">
              <!-- Add Task Card -->
              <div class="card mb-2 border-info" style="width: 16rem;">
                <div class="card-body text-center">
                  <form action="{% url 'check_mate:task_add' %}" method="POST">
                    {% csrf_token %}
                    <i class="fas fa-plus text-info"></i>
                    <div class="card-title text-center">
                      <button class="btn text-info add-ticket-card" type="submit">Add Task</button>
                      <input type="hidden" name="ticket" value="{{ticket_detail.id}}"/>
                      <input type="hidden" name="first_request"/>
                    </div>
                  </form>
                </div>
              </div>
              <!-- End Add Task Card -->
              {% for task in tasks %}
                {% task_card task.id False False %}
              {% endfor%}
            </div>
          {% endif %}
          <!-- End Related Tasks Display -->
          </div>
        </div>
        <!-- End Related Tasks Section -->
      </div>
    </div>
  </div>
  <!-- Ticket History Section -->
  <div class="col-3 position-sticky">
    <h4 class="text-center mb-3">Ticket History</h4>
      <div class="ticket-history-description">
        {% for history in all_history %}
          <p class="mb-0 ticket-description">{{history.description}}</p>
          <p class="ticket-description text-muted">{{history.activity_date| date:"l, F d, Y"}}</p>
        {% endfor %}
      </div>
  </div>
  <!-- End Ticket History Section -->
</div>
{% endblock content %}