{% extends "index.html" %}

{% block content %}
<div>
  <h6>{{ticket_detail.ticket_name}}</h6>
  <p>{{ticket_detail.ticket_description}}</p>
  <h6>Ticket Due: {{ticket_detail.ticket_due|date:'l, F d, Y'}}</h6>
  <h6>Ticket Status: {{ticket_detail.ticket_status}}</h6>
  <p>Completed tasks: {{ticket_detail.get_task_status.Complete}}</p>
  <p>Total tasks: {{ticket_detail.get_task_status.Total}}</p>
  {% if ticket_detail.ticket_assigned_user is not None %}
    <p>Assigned Team Member: {{ticket_detail.ticket_assigned_user.first_name}} {{ticket_detail.ticket_assigned_user.last_name}}</p>
  {% else %}
    <p>Ticket currently unassigned </p>
  {% endif %}
  {% if ticket_detail.delete_status == True %}
    <a href="{% url 'check_mate:ticket_delete' ticket_detail.id %}">Delete Ticket</a>
  {% endif %}
  <a href="{% url 'check_mate:ticket_edit' ticket_detail.id %}">Edit Ticket</a>
  <a href="{% url 'check_mate:project_details' ticket_detail.project.id %}">Go back to project</a>
  <div class="text-center">
    <h5>Related Tasks:</h5>
    <form action="{% url 'check_mate:task_add' %}" method="POST">
      {% csrf_token %}
      <input type="submit"><i class="fas fa-plus"></i></input>
      <input type="hidden" name="ticket" value="{{ticket_detail.id}}"/>
      <input type="hidden" name="first_request"/>
    </form>
  </div>
  <div class="list-group">
      {% if  not ticket_detail.task_set.all %}
          <p class="mb-1">No tasks currently available for this ticket</p>
      {% endif %}
      {% for task in ticket_detail.task_set.all %}
          <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{task.task_name}}</h5>
                  <p>{{task.task_status}}</p>
                  <p>{{task.task_description}}</p>
                  {% if task.task_assigned_user is not None %}
                    <p>Assigned Team Member: {{task.task_assigned_user.first_name}} {{task.task_assigned_user.last_name}}</p>
                  {% else %}
                    <p>Task currently unassigned</p>
                  {% endif %}
                  <a href="{% url 'check_mate:task_edit' task.id %}">Edit Task</a>
                  {% if task.delete_status == True %}
                    <a href="{% url 'check_mate:task_delete' task.id %}">Delete Task</a>
                  {% endif %}
              </div>
          </a>
      {% endfor %}
  </div>
  <div>
    {% if all_history %}
      {% for history in all_history %}
        <p>{{history.description}}</p>
        <p>{{history.activity_date| date:"l, F d, Y"}}</p>
      {% endfor %}
    {% else %}
      <p>No History available for this ticket</p>
    {% endif %}
  </div>
</div>
{% endblock content %}