{% load status_badge %}

{% if claim or claim_edit == True %}
<style>
  input:checked+label{
    border:2px solid #5bc0de;
  }
</style>
{% endif %}

{% if claim == True %}
  <input type="checkbox" class="d-none" id="claimed-task-{{task.id}}" name="task-{{task.id}}"/>
{% elif claim_edit == True %}
  <input type="checkbox" checked class="d-none" id="claimed-task-{{task.id}}" name="task-{{task.id}}"/>
{% endif %}

<!-- Card Wrapper -->
<label class="card mb-2" style="width: 16rem;" for="claimed-task-{{task.id}}">
  <!-- Card Body -->
  <div class="card-body">
    <div class="card-title text-dark">{{task.task_name}}</div>
    <p class="card-text ticket-description mb-2 text-muted">{{task.task_description}}</p>
    {% status_badge task.task_status%}

    {% if task.get_due_date_status == "This task is past due" %}
      <div class="card-text text-center text-danger ticket-description">{{task.get_due_date_status}}</div>
    {% elif task.get_due_date_status == "This task is due today" %}
      <div class="card-text text-center text-warning ticket-description">{{task.get_due_date_status}}</div>
    {% endif %}
  </div>
  <!-- End Card Body -->
  <!-- Card Footer -->
  <div class="card-footer bg-transparent">
    <div class="row">
      <div class="col">
        {% if user_initials %}
          <div class="text-white initials-circle bg-info">{{user_initials}}</div>
        {% endif %}
      </div>
      <div class="col text-right">
        <a class="text-dark" href="{% url 'check_mate:task_edit' task.id %}"><i class="fas fa-pencil-alt"></i></a>
        {% if task.delete_status == True %}
          <a class="text-dark" href="{% url 'check_mate:task_delete' task.id %}"><i class="far fa-trash-alt"></i></a>
        {% else %}
          <i class="far fa-trash-alt text-muted"></i>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End Card Footer -->
  <!-- Card Tag Display -->
  {% if task.tags.all %}
  <div class="card-footer bg-transparent">
    <div class="row">
      <div class="col">
        {% for tag in task.tags.all %}
          <span class="badge badge-secondary">{{tag.tag_name}}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <!-- End Card Tag Display -->
</label>
<!-- End Card Wrapper -->