{% if task.task.get_due_date_status == "This task is past due" %}
  <div class="card border-bottom-danger" style="width: 18rem;">
{% elif task.task.get_due_date_status == "This task is due today" %}
  <div class="card border-bottom-warning" style="width: 18rem;">
{% else %}
  <div class="card" style="width: 18rem;">
{% endif%}
  <div class="card-body">
    <div class="card-title text-dark">{{task.task_name}}</div>
    <p class="card-text ticket-description mb-2 text-muted">{{task.task_description}}</p>
  </div>
  <div class="card-footer bg-transparent">
    <input type="checkbox" name="task-{{task.id}}"/>
    {% if task.delete_status == True %}
      <a class="text-dark" href="{% url 'check_mate:task_delete' task.id %}"><i class="far fa-trash-alt"></i></a>
    {% endif %}
    <a class="text-dark" href="{% url 'check_mate:task_edit' task.id %}"><i class="fas fa-pencil-alt"></i></a>
  </div>
</div>