<div class="card mb-2" style="width: 16rem;">
  <a href="{% url 'check_mate:ticket_details' ticket.id %}">
    <div class="card-body">
      <div class="card-title text-dark">{{ticket.ticket_name}}</div>
      <p class="card-text ticket-description mb-2 text-muted">{{ticket.ticket_description}}</p>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: calc({{ticket.get_task_status.Complete}}/{{ticket.get_task_status.Total}}*100%)" aria-valuenow="{{ticket.get_task_status.Complete}}" aria-valuemin="0" aria-valuemax="{{ticket.get_task_status.Total}}"></div>
        <div class="progress-bar bg-info" role="progressbar" style="width: calc({{ticket.get_task_status.Active}}/{{ticket.get_task_status.Total}}*100%)" aria-valuenow="{{ticket.get_task_status.Active}}" aria-valuemin="0" aria-valuemax="{{ticket.get_task_status.Total}}"></div>
      </div>
    </div>
    {% if ticket.get_due_date_status == "This ticket is past due" %}
      <div class="card-text text-center text-danger ticket-description">{{ticket.get_due_date_status}}</div>
    {% elif ticket.get_due_date_status == "This ticket is due today" %}
      <div class="card-text text-center text-warning ticket-description">{{ticket.get_due_date_status}}</div>
    {% endif %}
  </a>
  <div class="card-footer bg-transparent">
    <a class="text-dark" href="{% url 'check_mate:ticket_edit' ticket.id %}"><i class="fas fa-pencil-alt"></i></a>
    {% if ticket.delete_status == True %}
      <a class="text-dark" href="{% url 'check_mate:ticket_delete' ticket.id %}"><i class="far fa-trash-alt"></i></a>
    {% else %}
      <i class="far fa-trash-alt text-secondary"></i>
    {% endif %}
  </div>
</div>